ClientApplication/Service References/WesternUnionService/WesternUnionWCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="LookupTransactionResultCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UnrecognizedResponse" />
      <xs:enumeration value="Successful" />
      <xs:enumeration value="Unsuccessful" />
      <xs:enumeration value="PartnerError" />
      <xs:enumeration value="ServerError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LookupTransactionResultCode" nillable="true" type="tns:LookupTransactionResultCode" />
  <xs:simpleType name="TransactionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UnrecognizedStatus" />
      <xs:enumeration value="ForPayout" />
      <xs:enumeration value="Blocked" />
      <xs:enumeration value="PaidOut" />
      <xs:enumeration value="Cancelled" />
      <xs:enumeration value="ProcessedForPayout" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransactionStatus" nillable="true" type="tns:TransactionStatus" />
  <xs:simpleType name="PayoutTransactionResultCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UnrecognizedResponse" />
      <xs:enumeration value="Successful" />
      <xs:enumeration value="Unsuccessful" />
      <xs:enumeration value="PartnerError" />
      <xs:enumeration value="ServerError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PayoutTransactionResultCode" nillable="true" type="tns:PayoutTransactionResultCode" />
</xs:schema>