ClientApplication/Service References/WesternUnionService/WesternUnionWCFService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WesternUnionWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WesternUnionWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GenerateTokenParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecretKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerateTokenParameters" nillable="true" type="tns:GenerateTokenParameters" />
</xs:schema>