ClientApplication/Service References/ITransFastServices/TransFastWCFService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51143/TransFastWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TransFastWCFService.Classes" />
  <xs:import schemaLocation="http://localhost:51143/TransFastWCFService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TransFastWCFService" />
  <xs:element name="RemittancePartnerLookup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TransFastWCFService.Classes" minOccurs="0" name="pullTransactionRequest" nillable="true" type="q1:PullRemittanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemittancePartnerLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TransFastWCFService.Classes" minOccurs="0" name="RemittancePartnerLookupResult" nillable="true" type="q2:PullRemittanceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemittancePartnerPayout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TransFastWCFService.Classes" minOccurs="0" name="pullTransactionRequest" nillable="true" type="q3:PullRemittanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemittancePartnerPayoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TransFastWCFService.Classes" minOccurs="0" name="RemittancePartnerPayoutResult" nillable="true" type="q4:PullRemittanceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TransFastWCFService" minOccurs="0" name="generateTokenParameters" nillable="true" type="q5:GenerateTokenParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TransFastWCFService.Classes" minOccurs="0" name="dataTransactionResult" nillable="true" type="q6:DataTransactionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TransFastWCFService.Classes" minOccurs="0" name="RequestTokenResult" nillable="true" type="q7:DataTransactionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>