ClientApplication/Service References/ITransFastServices/TransFastWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransFastWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ITransFastWCF_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51143/TransFastWCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51143/TransFastWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51143/TransFastWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TransFastWCFService.Classes" />
      <xsd:import schemaLocation="http://localhost:51143/TransFastWCFService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:51143/TransFastWCFService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TransFastWCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransFastWCF_RemittancePartnerLookup_InputMessage">
    <wsdl:part name="parameters" element="tns:RemittancePartnerLookup" />
  </wsdl:message>
  <wsdl:message name="ITransFastWCF_RemittancePartnerLookup_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemittancePartnerLookupResponse" />
  </wsdl:message>
  <wsdl:message name="ITransFastWCF_RemittancePartnerPayout_InputMessage">
    <wsdl:part name="parameters" element="tns:RemittancePartnerPayout" />
  </wsdl:message>
  <wsdl:message name="ITransFastWCF_RemittancePartnerPayout_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemittancePartnerPayoutResponse" />
  </wsdl:message>
  <wsdl:message name="ITransFastWCF_GenerateToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateToken" />
  </wsdl:message>
  <wsdl:message name="ITransFastWCF_GenerateToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ITransFastWCF_RequestToken_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestToken" />
  </wsdl:message>
  <wsdl:message name="ITransFastWCF_RequestToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ITransFastWCF_ProcessTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessTransaction" />
  </wsdl:message>
  <wsdl:message name="ITransFastWCF_ProcessTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransFastWCF">
    <wsdl:operation name="RemittancePartnerLookup">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransFastWCF/RemittancePartnerLookup" message="tns:ITransFastWCF_RemittancePartnerLookup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransFastWCF/RemittancePartnerLookupResponse" message="tns:ITransFastWCF_RemittancePartnerLookup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemittancePartnerPayout">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransFastWCF/RemittancePartnerPayout" message="tns:ITransFastWCF_RemittancePartnerPayout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransFastWCF/RemittancePartnerPayoutResponse" message="tns:ITransFastWCF_RemittancePartnerPayout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransFastWCF/GenerateToken" message="tns:ITransFastWCF_GenerateToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransFastWCF/GenerateTokenResponse" message="tns:ITransFastWCF_GenerateToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransFastWCF/RequestToken" message="tns:ITransFastWCF_RequestToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransFastWCF/RequestTokenResponse" message="tns:ITransFastWCF_RequestToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransFastWCF/ProcessTransaction" message="tns:ITransFastWCF_ProcessTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransFastWCF/ProcessTransactionResponse" message="tns:ITransFastWCF_ProcessTransaction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ITransFastWCF" type="tns:ITransFastWCF">
    <wsp:PolicyReference URI="#WSHttpBinding_ITransFastWCF_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RemittancePartnerLookup">
      <soap12:operation soapAction="http://tempuri.org/ITransFastWCF/RemittancePartnerLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemittancePartnerPayout">
      <soap12:operation soapAction="http://tempuri.org/ITransFastWCF/RemittancePartnerPayout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateToken">
      <soap12:operation soapAction="http://tempuri.org/ITransFastWCF/GenerateToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestToken">
      <soap12:operation soapAction="http://tempuri.org/ITransFastWCF/RequestToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessTransaction">
      <soap12:operation soapAction="http://tempuri.org/ITransFastWCF/ProcessTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransFastWCF">
    <wsdl:port name="WSHttpBinding_ITransFastWCF" binding="tns:WSHttpBinding_ITransFastWCF">
      <soap12:address location="http://localhost:51143/TransFastWCFService.svc/SoapService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:51143/TransFastWCFService.svc/SoapService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>